
<div class="navBar">
    <div class="navLeft"></div>
        <div class="logo">
            My Angular App!
        </div>
        <div class="navOption" (click)="search = true">
            Search
        </div>
        <div class="navOption" (click)="search = false">
            Liveboard
        </div>
    <div class="navRight">
        <select (change)="changeRegion($event.target)">
            <option [attr.selected]="i == selectedRegion ? 'true' : null" [value]="i" *ngFor="let i of regions">{{i}}</option>
        </select>
    </div>
</div>
<div class="dashboardDiv">
    <div style='top:"70px";left:"500px";' class="dashWidgetDiv" cdkDrag m22Resizable>
        <div class="example-handle" cdkDragHandle><svg width="24px" fill="currentColor" viewBox="0 0 24 24"><path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div>
        <div class="dashWidgetVizDiv">
        <app-viz [setRegion]="changeRegionString" vizId="fdafbaa1-c2f6-43e8-bb2f-769b6cd1a495" liveboardId="200d4f78-07ad-407e-b35b-191a5cf489b6" [regionFilter]="selectedRegion"></app-viz>
        </div>
    </div>
    <div style='top:"500px";left:"500px";height:"600px";width:"800px";'  class="dashWidgetDiv" cdkDrag m22Resizable>
        <div class="example-handle" cdkDragHandle><svg width="24px" fill="currentColor" viewBox="0 0 24 24"><path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div>
        <div class="dashWidgetVizDiv">
            <app-liveboard
            liveboardId="200d4f78-07ad-407e-b35b-191a5cf489b6" [regionFilter]="selectedRegion"
            ></app-liveboard>
        </div>


    </div>
    <div style='top:"70px";left:"70px";' class="dashWidgetDiv" cdkDrag m22Resizable>
        <div class="example-handle" cdkDragHandle><svg width="24px" fill="currentColor" viewBox="0 0 24 24"><path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div>
        <h1>I am a box of text</h1>
        <p>Some default text goes here for people to read more of. Lots of things use placeholder text, most use lorem ipsum, I just write my owsn blah blah.</p>

    </div>
    <div style='top:"500px";left:"70px";' class="dashWidgetDiv" cdkDrag m22Resizable>
        <div class="example-handle" cdkDragHandle><svg width="24px" fill="currentColor" viewBox="0 0 24 24"><path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div>
        <app-chartjsviz [setRegion]="changeRegionString" ></app-chartjsviz>
    </div>
</div>
